@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');  

*{
    box-sizing: border-box;
}

#Wheel{
    top: 140px;
    height: 800px;
    width: 800px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 15px solid black;
    position: relative;
    overflow: hidden;
    transition: 5s;
}

#Wheel.active{
    filter: blur(20px);
    user-select: none;
}

#Wheel div{
    height: 50%;
    width:500px;
    position: absolute;
    clip-path: polygon(70% 0, 50% 100%,0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 9%;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    left: 135px;
}

#Wheel .one{
    background-color: aqua;
    left: 50%;
}
#Wheel .two{
    background-color: salmon;
    transform: rotate(45deg);
}
#Wheel .three{
    background-color: lightgoldenrodyellow;
    transform: rotate(90deg);

}
#Wheel .four{
    background-color: lightseagreen;
    transform: rotate(135deg);

}
#Wheel .five{
    background-color: rosybrown;
    transform: rotate(180deg);
}
#Wheel .six{
    background-color: mintcream;
    transform: rotate(225deg);

}
#Wheel .seven{
    background-color: lightcoral;
    transform: rotate(270deg);

}
#Wheel .eight{
    background-color: honeydew;
    transform: rotate(315deg);

}

#arrow{
    position: absolute;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
}

#arrow.active{
    filter: blur(20px);
    user-select: none;
}

#arrow::before{
    content: "\1F817";
    font-size: 100px;
}

#spin{
    position: absolute;
    top: 530px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: black;
    text-transform: uppercase;
    font-weight: bold;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    color: whitesmoke;
}

#spin.active{
    visibility: hidden;
    filter: blur(20px);
    user-select: none;
}

#popup{
    display: flex;
    position: fixed;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 50%;
      width: 50%;
      padding: 50px;
      box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
      background: lightcoral;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
      border-radius: 20%;
}
#popuph1 {
    font-size: 30px;
}

#popup.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transform: 0.5s;
  filter: none  ;
}
@media (max-width: 477px) { 
    #Wheel{
        top: 180px;
        height: 380px;
        width: 380px;
        background-color: aliceblue;
        border-radius: 50%;
        border: 10px solid black;
        position: relative;
        overflow: hidden;
        transition: 5s;
    }
    #Wheel div{
        height: 50%;
        width:155px;
        position: absolute;
        clip-path: polygon(100% 0, 50% 100%,0 0);
        transform: translateX(-50%);
        transform-origin: bottom;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        left: 100px;
    }
    #spin{
        top: 380px;
    }
    #arrow{
        position: absolute;
        top: 160px;
        left: 50%;
        transform: translateX(-50%);
        color: black;
    }
    #arrow::before{
        content: "\1F817";
        font-size: 60px;
    }
    #popup{
        display: flex;
        position: fixed;
          top: 40%;
          left: 50%;
          transform: translate(-50%,-50%);
          height: 40%;
          width: 90%;
          padding: 15px;
          box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
          background: lightcoral;
          visibility: hidden;
          opacity: 0;
          transition: 0.5s;
          border-radius: 10%;
    }
    #popuph1 {
        font-size: 20px;
    }
}
